.params {
    background-color:#575252;
    padding:5%;
    width:25%;
    border-radius:10px;
}

.param {
    padding:5%;
    background-color:gray;
    border-radius:25px;
    align-items:center;
    text-align:center;
}

.paramSpace {
    height:5%;
}