.about-container {
    background-color:white;
    padding:5px;
    display:flex;
    flex-direction:column;
}

.about-heading {
    color:black;
    
    padding-left:5%;

}



.about-cont {
    color:black;


    padding-left:5%;
    text-align:left;
    padding-right:5%;
}


.disclaimer {
    padding-top:5%;
    margin-bottom:10%;
}