.navcontainer {
    background-color:white;
    overflow-x:hidden;
}

.space {
    background-color:#215d6e;
    height:40px;
    overflow-x:hidden;
}

.homeimg {
    width:4vw;
    height:4vw;
    -webkit-filter: invert(1);
    filter: invert(1);
}