.healthvisor-header {
    background-image: linear-gradient(
        115deg,
        hsl(240deg 92% 25%) 0%,
        hsl(250deg 69% 30%) 11%,
        hsl(254deg 54% 34%) 22%,
        hsl(257deg 42% 37%) 33%,
        hsl(259deg 32% 41%) 44%,
        hsl(260deg 24% 44%) 56%,
        hsl(262deg 17% 48%) 67%,
        hsl(263deg 11% 52%) 78%,
        hsl(264deg 6% 55%) 89%,
        hsl(0deg 0% 59%) 100%
    );

    backdrop-filter:blur(10px);
    height:40vw;
    border-radius:25px;
}

.main-text {
    padding-top:5%;
    color:white;
    text-align:center;
    margin-right:25%;
    font-size:xx-large;
}

.ref-text {
    color:white;
    font-size: large;
    text-align:left;
    margin-left:25%;
}

.button-cont {
    text-align:center;
    padding-top:8%;
}

button {
    display: inline-block;
    background-color: blueviolet;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 23px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }