.gs-header-bg {
    margin-top:5%;
    background:url("https://www.nami.org/NAMI/media/NAMI-Media/BlogImageArchive/2016/depression-screening-teaser.jpg");
    height:37vw;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;

    text-align:center;

    border-radius:25px;
    width:80vw;

    margin-left:10vw;
}

.gs-header-text {
    padding-top:20%;
}
.gs-whitespace {
    height:5vw;
}

.gs-funcs {
    background-image: linear-gradient(
        115deg,
        hsl(240deg 92% 25%) 0%,
        hsl(250deg 69% 30%) 11%,
        hsl(254deg 54% 34%) 22%,
        hsl(257deg 42% 37%) 33%,
        hsl(259deg 32% 41%) 44%,
        hsl(260deg 24% 44%) 56%,
        hsl(262deg 17% 48%) 67%,
        hsl(263deg 11% 52%) 78%,
        hsl(264deg 6% 55%) 89%,
        hsl(0deg 0% 59%) 100%
    );

    height:50vw;

    padding-top:7;
}